/* styleteacher/Courses.css */

.courses-page {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f9f9f9;
  }
  
  h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
  }
  
  .back-button {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 16px;
    color: #c5383b;
    cursor: pointer;
    margin-bottom: 20px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    transition: background-color 0.3s ease, color 0.3s ease;
    width: fit-content;
  }
  
  .back-button:hover {
    background-color: #007bff;
    color: #fff;
  }
  
  .back-icon {
    font-size: 18px;
  }
  
  .error-message {
    color: red;
    text-align: center;
    margin-top: 10px;
  }
  
  .courses-table-wrapper {
    overflow-x: auto;
    margin-top: 20px;
  }
  
  .courses-table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .courses-table th,
  .courses-table td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
  }
  
  .courses-table th {
    background-color: #007bff;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
  }
  
  .courses-table tr:hover {
    background-color: #f1f1f1;
  }
  
  .courses-table td button {
    padding: 8px 12px;
    margin-right: 5px;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: #007bff;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .courses-table td button:hover {
    background-color: #af5a9b;
  }
  
  .courses-table td button:last-child {
    background-color: #28a745;
  }
  
  .courses-table td button:last-child:hover {
    background-color: #a55494;
  }
  